
<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"] - OnlineStore</title>


    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->




    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
    <!--pop-up-box-->
    <link href="~/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui1.css">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <style>
        .notification {
            color: white;
            text-decoration: none;
            padding: 5px 3px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }



            .notification .badge {
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 5px 10px;
                border-radius: 50%;
                background: red;
                color: white;
            }
    </style>


    @RenderSection("style", required: false)
</head>
<body>
    <header>
        <!-- top-header -->
        <div class="header-most-top">
            <p>Vegebasket Offer Fresh Vegetables & Fruits With Discounts</p>
        </div>
        <!-- //top-header -->
        <!-- header-bot-->
        <div class="header-bot">
            <div class="header-bot_inner_wthreeinfo_header_mid">
                <!-- header-bot-->
                <div class="col-md-4 logo_agile">
                    <h1>
                        <a href="index.html">
                            <span>V</span>egeBasket
                            <span>S</span>tore
                            <img src="/images/logo2.png" alt=" ">
                        </a>
                    </h1>
                </div>
                <!-- header-bot -->
                <div class="col-md-8 header">
                    <!-- header lists -->
                    <ul>


                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal1">
                                <span class="fa fa-fw fa-truck" aria-hidden="true"></span>Track Order
                            </a>
                        </li>
                        <li>
                            <span class="fa fa-phone" aria-hidden="true"></span> 07031905878
                        </li>
                        @if (User != null && User.Identity.IsAuthenticated)

                        {
                           
                                <li>
                                    <a class="" href="#" >@User.Identity.Name</a>
                                </li>
                            
                            <li>
                                <a asp-area="" asp-controller="Customer" asp-action="Logout">
                                    <span class="fa fa-pencil-alt" aria-hidden="true"></span> Log out

                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-area="" asp-controller="Customer" asp-action="Login" data-toggle="modal" data-target="#myModal1">
                                    <span class="fa fa-unlock-alt" aria-hidden="true"></span> Sign In
                                </a>
                            </li>
                        }

                        <li>
                            <a asp-area="" asp-controller="Customer" asp-action="Create" data-toggle="modal" data-target="#myModal2">
                                <span class="fa fa-pencil-alt" aria-hidden="true"></span> Sign Up

                            </a>
                        </li>



                    </ul>
                    <!-- //header lists -->
                    <!-- search -->
                    <div class="agileits_search">
                        <form method="post" asp-action="Search" asp-controller="Home">
                            <input name="search" type="search" placeholder="Search your fresh vegetables and fruits?" required="">
                            <button type="submit" class="btn btn-default" aria-label="Left Align">
                                <span class="fa fa-search" aria-hidden="true"> </span>
                            </button>

                        </form>
                    </div>
                    <div class="top_nav_right">
                        <div class="wthreecartaits wthreecartaits2 cart cart box_1">

                            <a class="w3view-cart" asp-area="" asp-controller="Home" asp-action="viewCart"><h4 style="color:red"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></h4><span class="badge" id='total-quantity-label'>0</span></a>


                        </div>
                    </div>
                    <!-- //search -->

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- shop locator (popup) -->
        <!-- Button trigger modal(shop-locator) -->
        <div id="small-dialog1" class="mfp-hide">
            <div class="select-city">
                <h3>Please Select Your Location</h3>
                <select class="list_of_cities">
                    <optgroup label="Popular Cities">
                        <option selected style="display:none;color:#eee;">Select City</option>
                        <option>Abeokuta</option>
                        <option>Lagos</option>
                        <option>Ibadan</option>
                        <option>Ijebu-Ode</option>
                        <option>Akure</option>

                    </optgroup>
                    <optgroup label="Abeokuta">
                        <option>Ake</option>
                        <option>Isaje</option>
                        <option>Obantoko</option>
                        <option>Camp</option>
                        <option>Osiele</option>
                    </optgroup>

                </select>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //shop locator (popup) -->
        <!-- signin Model -->
        <!-- Modal1 -->


        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body modal-body-sub_agile">
                        <div class="main-mailposi">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                        </div>
                        <div class="modal_body_left modal_body_left1">
                            <h3 class="agileinfo_sign">Sign In </h3>
                            <p>
                                Sign In now, Let's start your Vegebasket Shopping. Don't have an account?
                                <a href="#" data-toggle="modal" data-target="#myModal2">
                                    Sign Up Now
                                </a>
                            </p>
                            <form method="post" class="needs-validation" asp-action="Login" asp-area="" asp-controller="Customer">
                                @if (!string.IsNullOrEmpty(ViewBag.Message))
                                {
                                    <p class="alert alert-warning alert-dismissible" role="alert">@ViewBag.Message</p>
                                }
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" placeholder="User Name" name="Name" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="password" placeholder="Password" name="Password" required="">
                                </div>
                                <input type="submit" value="Sign In">
                            </form>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- //Modal content-->
            </div>
        </div>
        <!-- //Modal1 -->
        <!-- //signin Model -->
        <!-- signup Model -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body modal-body-sub_agile">
                        <div class="main-mailposi">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                        </div>
                        <div class="modal_body_left modal_body_left1">
                            <h3 class="agileinfo_sign">Sign Up</h3>
                            <p>
                                Come join the Vegebasket Store! Let's set up your Account.
                            </p>
                            <form asp-action="Create" asp-area="" asp-controller="Customer" method="post">
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" placeholder="Name" name="Name" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="email" placeholder="E-mail" name="Email" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="password" placeholder="Password" name="password" id="password1" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="password" placeholder="Confirm Password" name="Confirm Password" id="password2" required="">
                                </div>
                                <input type="submit" value="Sign Up">
                            </form>
                            <p>
                                <a asp-action="Terms" asp-area="" asp-controller="Home">By clicking register, I agree to your terms</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- //Modal content-->
            </div>
        </div>
        <!-- //Modal2 -->
        <!-- //header-bot -->
        <!-- navigation -->
        <div class="ban-top">
            <div class="container">
                <div class="agileits-navi_search">
                    <form action="#" method="post">
                        <select id="agileinfo-nav_search" name="agileinfo_search" required="">
                            <option value="">All Categories</option>
                            <option value="Fresh Fruits">Fresh Fruits & Vegetables</option>
                            <option value="Dry Fruits">Dry Fruits</option>
                            <option value="Spices">Spices & Seasonings</option>
                            <option value="Organic Fruits">Organic Fruits & Vegetables</option>
                        </select>
                    </form>
                </div>
                <div class="top_nav_left">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                        aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav menu__list">
                                    <li class="active">
                                        <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="Index">
                                            Home
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Store
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="agile_inner_drop_nav_info">
                                                <div class="col-sm-4 multi-gd-img">
                                                    <ul class="multi-column-dropdown">
                                                        <li>
                                                            <a href="#">Fresh Fruits & Vegetables</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Organic Food Supplies</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Coffee, Tea & Beverages</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dried Fruits, Nuts</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Exotic Fruits</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Spices & Seasonings</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Honey Products</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4 multi-gd-img">
                                                    <ul class="multi-column-dropdown">
                                                        <li>
                                                            <a href="#">Pickles</a>
                                                        </li>

                                                        <li>
                                                            <a href="#">Rice, Flour & Pulses</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Sauces & Cooking Pastes</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Snack Foods</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Oils, Vinegars</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Meat, Poultry & Seafood</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4 multi-gd-img">
                                                    <img src="/images/nav.png" alt="">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </ul>
                                    </li>

                                    <li class="">
                                        <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="Faqs">Faqs</a>
                                    </li>
                                    <li class="dropdown">
                                        <a class="nav-stylehead dropdown-toggle" href="#" data-toggle="dropdown">
                                            Vege Club
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu agile_short_dropdown">
                                            <li>
                                                <a asp-action="Index" asp-area="" asp-controller="Home">Join Us</a>
                                            </li>
                                            <li>
                                                <a asp-action="Index" asp-area="" asp-controller="Home">Sign in</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- //navigation -->
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <!-- //special offers -->
    <!-- newsletter -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="col-xs-8 agile-leftmk">
                <h2>Get your Fresh Vegetables and Fruits delivered from our stores</h2>
                <p>Free Delivery on your first order!</p>
                <form action="#" method="post">
                    <input type="email" placeholder="E-mail" name="email" required="">
                    <input type="submit" value="Subscribe">
                </form>
                <div class="newsform-w3l">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-xs-4 w3l-rightmk">
                <img src="/images/tab3.png" alt=" ">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //newsletter -->
    <footer class="border-top footer text-muted">
        <div class="container">
            <!-- footer first section -->
            <p class="footer-main">
                <span>"Vegebasket Store"</span>  While fresh vegetables should be a part of your everyday meals,
                some vegetables are hard to find even in the huge markets in your area. However,
                the luxury of online shopping offers customers the comfort of relishing these veggies by
                ordering them from the comfort of their home. While tomato, pepper, green peas, amaranth can
                easily be found in the market, Vegebasket makes grocery shopping easier for you with their fresh
                produce delivered in top class packages right at your doorstep. With their wide delivery network,
                geographical barriers are easily overcome in Abeokuta, thereby giving you the benefit of
                fresh fruits and vegetables every time.
            </p>
            <!-- //footer first section -->
            <!-- footer second section -->
            <div class="w3l-grids-footer">
                <div class="col-xs-4 offer-footer">
                    <div class="col-xs-4 icon-fot">
                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-8 text-form-footer">
                        <h3>Track Your Order</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-4 offer-footer">
                    <div class="col-xs-4 icon-fot">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-8 text-form-footer">
                        <h3>Free & Easy Returns</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-4 offer-footer">
                    <div class="col-xs-4 icon-fot">
                        <span class="fa fa-times" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-8 text-form-footer">
                        <h3>Online cancellation </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //footer second section -->
            <!-- footer third section -->
            <div class="footer-info w3-agileits-info">
                <!-- footer categories -->
                <div class="col-sm-5 address-right">
                    <div class="col-xs-6 footer-grids">
                        <h3>Categories</h3>
                        <ul>
                            <li>
                                <a href="product.html">Vegetables</a>
                            </li>
                            <li>
                                <a href="product.html">Fruits</a>
                            </li>
                            <li>
                                <a href="product.html">Dry Fruits & Nuts</a>
                            </li>
                            <li>
                                <a href="product2.html">Spices & Seasonings</a>
                            </li>
                            <li>
                                <a href="product.html">Organic Products</a>
                            </li>
                            <li>
                                <a href="product2.html">Exotic Fruits</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 footer-grids agile-secomk">
                        <ul>
                            <li>
                                <a href="product.html">Vegetables</a>
                            </li>
                            <li>
                                <a href="product.html">Fruits</a>
                            </li>
                            <li>
                                <a href="product.html">Dry Fruits & Nuts</a>
                            </li>
                            <li>
                                <a href="product2.html">Spices & Seasonings</a>
                            </li>
                            <li>
                                <a href="product.html">Organic Products</a>
                            </li>
                            <li>
                                <a href="product2.html">Exotic Fruits</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- //footer categories -->
                <!-- quick links -->
                <div class="col-sm-5 address-right">
                    <div class="col-xs-6 footer-grids">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>
                                <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                            </li>
                            <li>
                                <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                            </li>
                            <li>
                                <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
                            </li>
                            <li>
                                <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="Faqs">Faqs</a>
                            </li>
                            <li>
                                <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="Terms">Terms of use</a>
                            </li>
                            <li>
                                <a class="nav-stylehead" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 footer-grids">
                        <h3>Get in Touch</h3>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i> CodeLeanersHub, Abeokuta, Nigeria.
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i>  +234 7031905878
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> +234 7031905878
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:adeyemisworld@gmail.com">adeyemisworld@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //quick links -->
                <!-- social icons -->
                <div class="col-sm-2 footer-grids  w3l-socialmk">
                    <h3>Follow Us on</h3>
                    <div class="social">
                        <ul>
                            <li>
                                <a class="icon fb" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="icon tw" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="icon gp" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="agileits_app-devices">
                        <h5>Download the App</h5>
                        <a href="#">
                            <img src="/images/1.png" alt="">
                        </a>
                        <a href="#">
                            <img src="/images/2.png" alt="">
                        </a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!-- //social icons -->
                <div class="clearfix"></div>
            </div>
            <!-- //footer third section -->
            <!-- footer fourth section (text) -->
            <div class="agile-sometext">
                <div class="sub-some">
                    <h5>Online Vegebasket Shopping</h5>
                    <p>
                        Order online.  We at vegebasket choose our produce with as much care as you do. Carefully sorted,
                        meticulously cleaned and carefully packed, fruits and vegetables from our online store
                        reach you the day you order them. vegebasket offers delivery in Abeokuta only in Nigeria.
                    </p>
                </div>
                <div class="sub-some">
                    <h5>Shop online with the best deals & offers</h5>
                    <p>
                        Now Get Upto 40% Off On Every Basket ordered.  Discount May Vary Weekly.
                    </p>
                </div>
                <!-- brands -->
                <div class="sub-some">
                    <h5>Popular Brands</h5>
                    <ul>
                        <li>
                            <a href="product.html">Tomato</a>
                        </li>
                        <li>
                            <a href="product.html">Pepper</a>
                        </li>
                        <li>
                            <a href="product.html">Amaranth</a>
                        </li>
                        <li>
                            <a href="product.html">Onion</a>
                        </li>
                        <li>
                            <a href="product.html">Celosia</a>
                        </li>
                        <li>
                            <a href="product.html"> Green Pepper</a>
                        </li>
                        <li>
                            <a href="product.html">Ginger</a>
                        </li>
                        <li>
                            <a href="product.html">Garlic</a>
                        </li>

                        <li>
                            <a href="product2.html">Okra</a>
                        </li>
                        <li>
                            <a href="product2.html">Coconut</a>
                        </li>
                        <li>
                            <a href="product.html">Thyme</a>
                        </li>
                        <li>
                            <a href="product2.html">Okra</a>
                        </li>
                        <li>
                            <a href="product2.html"> Capsicum</a>
                        </li>
                        <li>
                            <a href="product.html">Carrot</a>
                        </li>
                        <li>
                            <a href="product.html">Beet</a>
                        </li>
                        <li>
                            <a href="product.html">Yellow banana</a>
                        </li>
                        <li>
                            <a href="product.html">Basil leaves</a>
                        </li>
                        <li>
                            <a href="product.html">Pears</a>
                        </li>
                        <li>
                            <a href="product.html">Red Banana</a>
                        </li>
                        <li>
                            <a href="product.html"> Grape</a>
                        </li>
                        <li>
                            <a href="product.html">Cashew</a>
                        </li>
                        <li>
                            <a href="product.html">Pawpaw</a>
                        </li>
                        <li>
                            <a href="product2.html">Orange</a>
                        </li>

                    </ul>
                </div>
                <!-- //brands -->
                <!-- payment -->
                <div class="sub-some child-momu">
                    <h5>Payment Method</h5>
                    <ul>
                        <li>
                            <img src="/images/pay2.png" alt="">
                        </li>
                        <li>
                            <img src="/images/pay5.png" alt="">
                        </li>
                        <li>
                            <img src="/images/pay1.png" alt="">
                        </li>
                        <li>
                            <img src="/images/pay4.png" alt="">
                        </li>
                        <li>
                            <img src="/images/pay6.png" alt="">
                        </li>
                        <li>
                            <img src="/images/pay3.png" alt="">
                        </li>
                        <li>
                            <img src="/images/pay7.png" alt="">
                        </li>
                        <li>
                            <img src="/images/pay8.png" alt="">
                        </li>
                        <li>
                            <img src="/images/pay9.png" alt="">
                        </li>
                    </ul>
                </div>
                <!-- //payment -->
            </div>
            <!-- //footer fourth section (text) -->
        </div>

        <!-- //footer -->
        <!-- copyright -->
        <!-- //copyright -->
    </footer>
    <div class="copy-right">
        <div class="container">
            <p>
                © 2020 Vegebasket Shoppy. All rights reserved | Design by
                <a href="http://www.Eshopping.infusionsew.com"> Vegebasket.</a>
            </p>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/shoppingcart.min.js"></script>
    <!-- js-files -->
    <!-- jquery-->
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <!-- //jquery -->
    <!-- popup modal (for signin & signup)-->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- Large modal -->
    <!-- <script>
        $('#').modal('show');
    </script> -->
    <!-- //popup modal (for signin & signup)-->
    <!-- cart-js -->
    <script src="~/js/minicart.js"></script>
    <script>
        paypalm.minicartk.render(); //use only unique class names other than paypal1.minicart1.Also Replace same class name in css and minicart.min.js

        paypalm.minicartk.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!--quantity-->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });

        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!--quantity-->
    <script>
        $(document).ready(function (c) {
            $('.close1').on('click', function (c) {
                $('.rem1').fadeOut('slow', function (c) {
                    $('.rem1').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close2').on('click', function (c) {
                $('.rem2').fadeOut('slow', function (c) {
                    $('.rem2').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close3').on('click', function (c) {
                $('.rem3').fadeOut('slow', function (c) {
                    $('.rem3').remove();
                });
            });
        });
    </script>
    <!--//quantity-->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- smoothscroll -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
